@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

/* .pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
} */

.navbar{
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height:26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  
}

.pnf{
  text-align: center;
  padding: 100px;
}

.register form {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px; 
}
.register label {
  font-weight: bold;
}

.register button {
  grid-column: span 2;
  width: 50%;

}
.register{
  display: flex;
  align-items: center;
  justify-content: center;

}
